{% macro render_pagination(pagination) %}
  <div class='pagination'>
    {% if pagination.has_prev %}
      <a href='{{ pagination.prev|url }}'>&laquo; Previous</a>
    {% else %}
      <span class='disabled'>&laquo; Previous</span>
    {% endif %}
    | {{ pagination.page }} |
    {% if pagination.has_next %}
      <a href='{{ pagination.next|url }}'>Next &raquo;</a>
    {% else %}
      <span class='disabled'>Next &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
