{% extends 'layout.html' %}
{% from 'macros/blog.html' import render_blog_post, disqus_comments %}

{% block title %}{{ this.title }} — {{ config.values.PROJECT.get('blog_name') }}{% endblock %}

{% block head_extra %}
  <link rel='alternate' type='application/atom+xml' title='{{ this.parent.title }}' href='{{ '/blog/feed.xml'|url }}' />
  {% if this.summary %}
  <meta name='description' content='{{ this.summary }}' />
  {% endif %}
  <script id='dsq-count-scr' src='//shrike.disqus.com/count.js' async></script>
{% endblock%}

{% block body %}
  {{ render_blog_post(this) }}
  <div class='comments'>{{ disqus_comments(this) }}</div>
{% endblock %}
