<footer class='text-center'>
  <p>
    {{ bag('footer', this.alt, 'Copyright') }}
    {% if this._path %}
    &middot;
    <a href='https://github.com/SShrike/website/commits/master/content{{ this._path.rstrip('/') }}/contents.lr'><!--
   -->{{ bag('footer', this.alt, 'EditHistory') }}<!--
 --></a>
    {% endif %}
    &middot;
    <a href='{{ '/license'|url }}'>{{ bag('footer', this.alt, 'License') }}</a>
  </p>
</footer>
