<header class='header'>
  <h1 class='headline'>Severen Redwood</h1>
  <a href='https://github.com/SShrike/website' class='github-corner' aria-label='View website source on Github'>
    {% include 'github-corner.html' %}
  </a>
  <ul class='header-subnav dropdown menu' data-dropdown-menu>
    <li{% if this._path == '/' %} class='active'{% endif
      %}><a href='{{ '/'|url }}'>{{ bag('header', this.alt, 'Welcome') }}</a></li>
    {% for href, title in [
      ['/blog', 'Blog'],
      ['/projects', 'Projects'],
      ['/contact', 'Contact'],
      ['/about', 'About'],
    ] %}
      <li{% if this.is_child_of(href) %} class='active'{% endif
        %}><a href='{{ href|url }}'>{{ bag('header', this.alt, title) }}</a></li>
    {% endfor %}
  </ul>
</header>
