<!DOCTYPE html>
<html class='no-js'>
<meta charset='utf-8' />
<meta http-equiv='x-ua-compatible' content='ie=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0' />

<link rel='stylesheet' href='{{ '/css/styles.css'|url }}'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,400i,700,700i'>
<script defer src='{{ '/js/vendor.js'|url }}' charset='utf-8'></script>
<script defer src='{{ '/js/app.js'|url }}' charset='utf-8' onload="require('js/initialize.js');"></script>
{% block head_extra %}{% endblock %}

<title>{% block title %}{{ bag('header', this.alt, 'Welcome') }}{% endblock %} — Severen Redwood</title>

{% include 'header.html' %}

<div class='row'>
  <br>

  <div class='page'>
    {% block body %}{% endblock %}
  </div>

  <hr>

  {% include 'footer.html' %}
</div>

{% set google_analytics = config.values.PROJECT.get('google-analytics') %}
{% if google_analytics %}
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', '{{ google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
{% endif %}
</html>
