$primary-color: #074E68;
$secondary-color: #2199e8;
$background-color: #f1fbfe;
$text-color: black; // Text colour for standard text.
$link-text-color: $secondary-color; // Text colour for links.
$link-hover-color: $background-color; // Text colour for links that are hovered over.
$link-hover-backgroud-color: $primary-color; // Background colour for links that are hovered over.
$title-text-color: $secondary-color; // Text colour for titles.

$header-text-color: white; // Text colour for the header.
$header-background-color: $primary-color; // Background colour for the header.
