@charset 'UTF-8';

@import 'colors';
@import 'mixins';

$title-font-style: 'Pacifico', cursive;
$body-font-style: 'Roboto', sans-serif;

body {
    height: auto;
    color: $text-color;
    font-family: $body-font-style;
    background: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font-style;
    color: $secondary-color;
}

$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.85rem;
$subnav-link-opacity: 0.15;
$header-height: 2rem;

.header {
    font-style: $title-font-style;
    text-align: center;
    background: $primary-color;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: $header-height;
    padding-bottom: $header-height + ($subnav-link-padding * 2 + $subnav-font-size - 0.15rem);

    .headline {
        color: $header-text-color;
    }
}

.header-subnav {
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    width: 100%;

    li {
        display: inline-block;

        a {
            color: $header-text-color;
            font-size: $subnav-font-size;
            padding: $subnav-link-padding 1rem;


            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.5px;
        }

        &.active a, &:hover a {
            text-decoration: underline;
            background-color: transparent;
        }

        &:hover a {
            animation: 0.7s linear infinite;
            @include animation-keyframes {
                0% {
                    transform: rotate(4deg) scale(1);
                }
                25% {
                  transform: scale(0.95);
                }
                50% {
                  transform: rotate(-4deg) scale(1.2);
                }
                75% {
                  transform: scale(0.95);
                }
                100% {
                  transform: rotate(4deg) scale(1);
                }
            }
        }
    }
}

.page, footer {
    $margin: 1rem;
    margin-left: $margin;
    margin-right: $margin;

    a {
        color: $link-text-color;
        text-decoration: underline;
        transition: all 0.3s ease;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: initial;

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
            background-color: $link-hover-backgroud-color;
            box-shadow: 0 0 0 2px $link-hover-backgroud-color;
        }
    }
}

.blog-post {
    margin-bottom: 1rem;
}

.hljs {
    margin: 1rem;
}

footer {
    font-size: 85%;
}
